@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');
@font-face {
    font-family: idrod;
    src: url(/fontes/idroid.otf);
}




* {
    padding: 0;
    margin: 0;
}

:root {
    --corcabeca: darkred;
    
}



body {
    padding: 0;
    margin: 0;
    background: #EBE5C5;

}

header {
    height: 210px;
   
    background: yellow;
    margin-bottom: 3px;
    background-image: linear-gradient( to bottom, #84E1AD, #233b2e );
    box-shadow: 2px 2px 5px #1d3326;
    text-align: center;
    padding: 10px;

    
    min-width: 320;
}

h1#principal {
    font-size: 50px;
    color: white;
    font-family: Oswald;
    text-align: center;
    padding: 0px;
    text-shadow: 1px 1px 1px black;
    top: -10px;
    margin: 0;
    position: relative;
    
}

p#principal {
    font-size: 1.5rem;
    
    color: white;
    font-family: Oswald;
    text-align: center;
    padding: 0px;
    font-weight:100;
    text-shadow: 1px 1px 1px black;
    position: relative;
    margin: 0;
    top: -35px;
    left: -18px;
    
}


nav {
    position: absolute;   
    
    
}

nav > a {
    text-decoration: none;
    color: white;
    font-family: Oswald ;
    padding: 5px ; 
    margin: 0; 
    position: relative;
    top: -10px;
    
    
    
    transition-duration: 0.6s;
    border-radius: 10px;

}

nav > a:hover {
    
    background:#233b2e;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.473);
    
}
    

main {
    
    margin: auto;
    background: white;
    padding: 10px;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);
    max-width: 1000px;
    min-width: 400;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


main img.pequena {
    display: block;
    width: 40%;
    margin: auto;    
}


img {
    width: 100%;
}

iframe {
    display: block;
    width: 450px;
    margin: auto;
}

ul {
    text-align: left;
    list-style-position: inside;
    padding: 10px;
}

h1, h2 {
    font-family: idrod;
    color: #497D61;
    text-shadow: 0.5px 0.5px 1px black;
    margin: 20px;
}

h2 {
    background: #93f1bc;
    background-image: linear-gradient(to right, #93f1bc, white);
    
}

p {
    text-indent: 40px;
    margin: 20px;
}

.dangrande {
    margin: auto;
    
    position: relative;
    left: 100px;
}

h3 {
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    color: white;

    padding: 5px;

    background:#233b2e;
    margin: 0;
    height: 40px;

    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;
    
}

.ptabela {
    background:#84E1AD ;
    margin: 0;
    padding: 10px;
}


ul {
    background: #84E1AD;
    
    columns: 2;
    list-style-type: '\1F5F8';
}

main p#pbaixo {
    font-family:;
    padding: 10px;
    font-size: 1.1rem;
    background:#84E1AD ;
    margin: 0;
    line-height: 30px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    
   

}

aside {
    box-shadow: 2px 2px 5px rgba(65, 65, 65, 0.527);
    border-radius: 10px;
}

ul > p {
    font-size: 1.1rem;

}

main p#final {
    font-size: 16px;
    font-family: 'Franklin Gothic Medium',
    'Arial Narrow',
    Arial,
    sans-serif;
}


footer {
    color: white;
    text-align: center;
    margin-top: 30px;
    height: 30px;
    background: #1d3326 ;
    font-family: Oswald;
    padding: ;
}

footer a {
    text-decoration: none;
    color: white;
    font-family: Oswald;

}

footer a:hover {
    
    text-decoration:underline;
    color: #84E1AD;
}


